body {
  font-family: Cormorant, serif;
}
h1 {
  margin: 32px 30%;
}
.strip {
  min-height: 50px;
  background-color: rebeccapurple;
  color: white;
}
.navbar li {
  list-style: none;
  color: whitesmoke;
  font-size: 28px;
}
.navbar li a {
  text-decoration: none;
  color: whitesmoke;
}
.navbar li a:hover {
  color: rgba(245, 245, 245, 0.639);
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 50%;
}
.newsarticle {
  margin: 32px 30%;
  padding: 5px;
  box-shadow: 10px 5px 5px black, 15px 10px 10px rebeccapurple;
  background-color: white;
  border-left: 2px solid rebeccapurple;
}
.newsarticle img {
  height: 50%;
  width: 50%;
  padding-left: 10px;
  box-shadow: 10px 5px 5px rgb(240, 240, 240);
}
.newsarticle button {
  margin: 28px 10px;
}
.newsarticle p:first-of-type:first-letter {
  font-size: 200%;
}
.news {
  border-top: 2px solid black;
}
.quote {
  border-left: 2px solid rebeccapurple;
  background-color: gainsboro;
  padding-bottom: 2%;
  display: inline-block;
}
.hidden {
  display: none;
}

.carousel-inner img {
  width: 100%;
  margin: auto;
  min-height: 200px;
}
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}
