body {
  font-family: Cormorant, serif;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
}
.carousel {
  margin-bottom: 4rem;
}
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
.carousel-item {
  height: 32rem;
}
#logo {
  width: 25px;
  height: 25px;
}
.featurette-divider {
  margin: 5rem 0;
}
.featurette-heading {
  letter-spacing: -0.05rem;
}
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  letter-spacing: -0.05rem;
}
.featurette-image {
  width: 568px;
  height: 320px;
  margin-top: 10rem;
  margin-left: 10rem;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
.hidden {
  display: none;
}

.carousel-inner img {
  width: 50%;
  margin: auto;
  min-height: 200px;
}
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}
.hidden-text {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.5s ease;
}

.hidden-text.show {
  opacity: 1;
  max-height: 1000px;
}

/*---- Text Formatting ----*/
.quote {
  border-left: 2px solid rebeccapurple;
  background-color: gainsboro;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
}
